@import url(https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@400;700&family=Roboto:wght@500&display=swap);@import url(https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@400;700&family=Roboto:wght@500;700&display=swap);.container {
  width: 1100px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 120px;
}
header .top-header {
  background-color: #0282f9;
  height: 20px;
}
header .top-header .container {
  display: flex;
  justify-content: end;
}
header .top-header .container .contain-addict {
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .top-header .container .contain-addict h4 {
  padding-left: 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-nav li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
header .container .header-nav li:hover a {
  color: #0282f9;
}
header .container .header-nav li:hover, header .container .header-nav li.active {
  border-bottom: 4px solid #0282f9;
  margin-bottom: -4px;
}
header .container .header-nav li.active a {
  color: #0282f9;
}
header .container .header-nav li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  line-height: 96px;
  font-weight: 700;
}
header .container img {
  width: 70px;
  cursor: pointer;
}
header .container .nav-list {
  line-height: 100px;
}

.jumbotron {
  height: 530px;
  background-image: url("/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .ab-relative {
  height: 530px;
  position: relative;
}
.jumbotron .ab-relative .box-jumbotron {
  background-color: #0282f9;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron .ab-relative .box-jumbotron h2 {
  padding: 10px 25px;
}

main {
  background-color: #1c1c1c;
  padding: 60px 0 20px 0;
}
main .ab-boxes {
  display: flex;
  flex-wrap: wrap;
}
main .ab-boxes .product-box {
  width: calc(16.6666666667% - 30px);
  margin: 15px;
  cursor: pointer;
}
main .ab-boxes .product-box h3 {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
main .ab-boxes .product-box img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .ab-button-main {
  text-align: center;
}
main .ab-button-main button {
  background-color: #0282f9;
  padding: 10px 60px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
main .ab-button-main button a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.bluebar {
  background-color: #0282f9;
  display: flex;
  align-items: center;
  color: white;
  padding: 30px;
}
.bluebar .container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.bluebar .container .box {
  display: flex;
  align-items: center;
}
.bluebar .container .box img {
  width: 50px;
  margin-right: 5px;
}
.bluebar .container .box h4 {
  font-size: 15px;
  text-transform: uppercase;
}
.bluebar .container .box .little-img {
  width: 38px;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer .top-footer {
  height: 400px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
footer .top-footer .list {
  display: flex;
}
footer .top-footer .list .col-list {
  margin-right: 30px;
}
footer .top-footer .list .col-list .footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer .top-footer .list .col-list .footer-list li {
  padding: 2px 0;
}
footer .top-footer .list .col-list .footer-list li a {
  color: #bdbdbd;
  text-decoration: none;
}
footer .top-footer .list .col-list .footer-list li a:hover {
  color: white;
  border-bottom: none;
}
footer .top-footer h3 {
  font-size: 25px;
  margin: 10px 0;
}

.footer-img img {
  width: 100%;
}

.bottom-footer {
  height: 100px;
  background-color: #303030;
  display: flex;
  align-items: center;
}
.bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer .container button {
  background-color: #303030;
  border: 2px solid #0282f9;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.bottom-footer .container button:hover {
  background-color: #0282f9;
}
.bottom-footer .container .footer-contain-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer .container .footer-contain-right h3 {
  color: #0282f9;
  margin-right: 10px;
}
.bottom-footer .container .footer-contain-right img {
  width: 35px;
  margin-left: 10px;
}